<div>
    <h1>
        Welcome To Extortion
    </h1>
        <p>
            <ul>
                <li>
                    <a href="{{SERVER_URL}}/home">Home</a>
                </li>
                <li>
                    <a href="{{SERVER_URL}}/register">Register</a>
                </li>
                <li>
                    <a href="{{SERVER_URL}}/signout">Sign-out</a>
                </li>
                
            </ul>
        </p>
</div>